#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 90%;
    margin: auto;
}
#container>div{
    width: 100%;
    aspect-ratio: auto;
}

.image {
    width: 100%;
    aspect-ratio: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}

#sortFilter {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#sortFilter select {
    padding: 10px 15px;
    border: none;
    background-color: #7D1E58;
    color: white;
    font-size: 110%;
    border-radius: 10px;
}
#sortFilter select:hover{
    color: #7D1E58;
    background-color: black;
}